
/* Color codes ------------------------------------------------------------------------------------------------*/

/*
	green: 		rgba(39, 174, 96,1.0);
	red: 		rgba(231, 76, 60,1.0);

	dark-blue: 	rgba(44, 62, 80,1.0);
	orange:		rgba(211, 84, 0,1.0);
*/

/* Bootstrap elements ----------------------------------------------------------------------------------------- */

.navbar {
	background-color: rgba(44, 62, 80,1.0);
	border-radius: 0px;
	margin: 0px;
	padding-top: 0px;
}

.navbar-bottom {
	margin-top: 80px;
}

a.navbar-brand {
	padding-right: 50px;
}

.nav-tabs > li > a {
	border-radius: 0px;
	color: rgba(44, 62, 80,1.0);
}

li.active {
	border: 0px;
}

.jumbotron {
	background-color: transparent;
	padding-top: 100px;
	padding-bottom: 100px;
	margin-top: 0px;
}

.btn {
	border-radius: 0px;
}

.caret {
	color: white;
}

.list-group, .list-group-item {
	border: 0px;
}


/* HTML elements ----------------------------------------------------------------------------------------------- */

body {
	background-color: white;
	padding-top: 50px;
}

body, h1, h2, h3, h4, h5, h6 {
	font-family: "Raleway","Helvetica Neue",Helvetica,"Myriad Pro","Lucida Grande",sans-serif;
	font-weight: 400;
	color: rgba(44, 62, 80,1.0);
}

h2 {
	color: rgba(211, 84, 0,1.0);
}

p {
	font-size: 15px;
}

img {
	margin: 1px;
}

/* Custom elements --------------------------------------------------------------------------------------------- */

.rounded-box {
	background-color: white;
	border-radius: 5px;
	box-shadow: 0.5px 0.5px 50px 0px rgba(0, 0, 0, 0.03);
}

.navbar-custom a {
	color: white;
}

.navbar-custom {
	border-color: rgba(211, 84, 0,1.0);
	border-width: 0px;
	border-top-width: 2px;
	color: white;
}

.debug {

}

.banner {
	padding-top: 200px;
	padding-bottom: 250px;
	background-color: rgba(44, 62, 80,1.0);
	margin: 0px;
}

.banner h1, .banner p {
	color: white;
}

.detail-banner {
	padding-top: 30px;
	padding-bottom: 40px;
}

.nav-tabs li {
	background-color: rgb(245, 245, 245);
}

.product-list, .cart-container {
	padding-top: 80px;
}

.cart-container > ul, .cart-container > ul > li {
	background-color: rgba(211, 84, 0,1.0);
	color: white;
} 

.product-detail {
	padding-top: 40px;
}

.box {
	border: 1px;
}

.column-content {
	padding-top: 30px;
}

.column-content .visual-info {
	height: 300px;
}

.column-content .info {
	height: 150px;
}

.visual-info {
	padding-right: 30px;
	padding-bottom: 5px;
}

.user-menu, .user-menu > ul, .user-menu > ul > li {
	background-color: rgba(211, 84, 0,1.0);
}

.cart-badge {
	background-color: white;
	color: rgba(211, 84, 0,1.0);
	margin-left: 3px;
}

.btn-main-color {
	background-color: rgba(52, 73, 94,1.0);
	color: white;
}

.btn-main-color:hover {
	color: white;
}

.btn-secondary-color {
	background-color: rgba(211, 84, 0,1.0);
	color: white;
}

.cart-thumbnail {
	width: 100%;
	float: left;
	margin-bottom: 0px;
}

.vertical-padding-align {
	padding-top: 32px;
}

.btn-checkout {
	padding: 15px;
	font-size: 20px;
	margin-right: 0px;
}

.row-align-vertical-middle {
	
}

.row-align-vertical-middle > .col {
	vertical-align: middle;
}

/* Alignment --------------------------------------------------------------------------------------------- */

.center {
	text-align: center;
}

.right {
    text-align: right;
}


.left {
	text-align: left;
}

.justified-container {
	width: 100%;
}

/* Colors ------------------------------------------------------------------------------------------------ */

.white {
	color: white;
}

.main-color {
	color: rgba(44, 62, 80,1.0);
}

.secondary-color {
	color: rgba(211, 84, 0,1.0);
}

.tertiary-color {
	color: rgba(44, 62, 80,1.0);	
}

.main-color-bg {
	background-color: rgba(44, 62, 80,1.0);
}

.secondary-color-bg {
	background-color: rgba(211, 84, 0,1.0);
}

.tertiary-color-bg {
	background-color: rgba(44, 62, 80,1.0);	
}
